extends main.pug
block content
  div.row
    div.col-lg-12
      h1.page-header Dashboard
        small  Statistics Overview
      ol.breadcrumb
        li.active
          i.fa.fa-dashboard
          |  Dashboard