html
    head
        title=page_title
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",rel="stylesheet")
        link(href="/css/main.css",rel="stylesheet")
    body
        header
            img(src="/img/header.jpg")
        .body-content
            block content
        footer
            p Posted by: BingSu
            p Contact infor:
                a(href="mailto:someone@example.com") someone@example.com