html
    head
        title=page_title
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="/js/client.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",rel="stylesheet")
        link(href="/css/main.css",rel="stylesheet")
    body
        nav(class="navbar navbar-inverse navbar-fixed-top")
            .container-fluid
                .navbar-header
                    a(class="navbar-brand", href="#") League management
                .navbar-collapse.collapse
        .container-fluid
            .row
                div(class="col-sm-3 col-md-2 sidebar")
                    ul(class="nav nav-sidebar")
                        li.active
                            a(href="#") Leagues
                                span.sr-only (current)        
                        li
                            a(href="/users/") Players
                div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
                    block content
        footer
            p Copyright NodeJS class @ SmartPro 
            p Contact information
                a(href="mailto:someone@example.com") someone@example.com