extends main.pug
block content
        h2(class="sub-header") Register Teams
        div(style={width: "60%"})
            form.form-horizontal(name="registerForm", action="/team/", method="POST")
                .form-group
                    label(for="name",class="col-sm-2 control-label") Name: 
                    .col-sm-10
                      if team.name
                        input(name="name",type="text", class="form-control", id="name", placeholder="Name" value=team.name)
                        input(name="_id",type="hidden", id="_id", value=team._id )
                      else
                        input(name="name",type="text", class="form-control", id="name", placeholder="Name" value="")
                        input(name="_id",type="hidden", id="_id", value=0 )
                .form-group
                    label(for="AddTeam",class="col-sm-2 control-label") Add Team: 
                    .col-sm-10
                      select(name="AddTeam",class="form-control", id="AddTeam")    
                            each sp in player_list
                              option(value=sp._id) #{sp.first_name + ' ' + sp.last_name}
                      button#btnOpr.btn.btn-sm.btn-info(type='button', onclick='AddTeamToList()') Add   
                .form-group
                    label(for="player_list",class="col-sm-2 control-label") List Team: 
                    .col-sm-10
                      #team_list
                       
                
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button(type="submit",class="btn btn-default") Sign in
